<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.coding_exercise.db.mapper.ApplicationMapper">
    
    <resultMap id="ApplicationResultMap" type="com.project.coding_exercise.db.model.Application">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>
    
    <insert id="insert" parameterType="com.project.coding_exercise.db.model.Application" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO applications (name) VALUES (#{name})
    </insert>
    
    <select id="findByName" parameterType="string" resultMap="ApplicationResultMap">
        SELECT * FROM applications WHERE name = #{name}
    </select>
    
    <select id="findById" parameterType="long" resultMap="ApplicationResultMap">
        SELECT * FROM applications WHERE id = #{id}
    </select>
    
</mapper>
