<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.coding_exercise.db.mapper.ServiceMapper">
    
    <resultMap id="ServiceResultMap" type="com.project.coding_exercise.db.model.Service">
        <id property="id" column="id"/>
        <result property="applicationId" column="application_id"/>
        <result property="name" column="name"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>
    
    <insert id="insert" parameterType="com.project.coding_exercise.db.model.Service" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO services (application_id, name) VALUES (#{applicationId}, #{name})
    </insert>
    
    <select id="findByApplicationIdAndName" resultMap="ServiceResultMap">
        SELECT * FROM services WHERE application_id = #{applicationId} AND name = #{name}
    </select>
    
    <select id="findById" parameterType="long" resultMap="ServiceResultMap">
        SELECT * FROM services WHERE id = #{id}
    </select>
    
</mapper>
